.jumbotron {
    position: relative;
    width: 100%;
    height: 500px;
    padding: 0;
    font-family: "Cormorant SC";
    box-shadow: 10px 5px 20px 2px lightslategrey;
    margin-bottom: 16px;
}

.jumbotron .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: auto;
    background: linear-gradient(#333, black);
    opacity: 0.5;
}

.jumbotron .background-image {
    height: 100%;
    background-image: url("../../images/japanPH.png");
    background-size: cover;
}

.jumbotron .caption {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
}

.jumbotron .caption h1,
.jumbotron .caption p {
    color: white;
}

.jumbotron h1 {
    font-size: 80px;
    font-weight: 800;
}

.jumbotron p {
    font-size: 30px;
}